body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.App {
  text-align: center;
  padding-bottom: 150px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-nav {
  display: flex;
  justify-content: center;
}