@import "./Variables.css";
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-gray-light);
}
.App {
  text-align: center;
  padding-bottom: 250px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-nav {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 50px;
}

.btn-primary {
  background-color: var(--color-pink-dark);
  color: var(--color-white);
  box-shadow: 0 4px 10px var(--color-shadow);
}



.btn-secondary {
  background-color: var(--color-pink-light);
  color: var(--color-pink-dark);
}

.btn-small {
  padding: 8px 16px;
}

.btn-danger {
  background-color: var(--color-red);
  color: var(--color-white);
}
