@font-face {
  font-family: 'ShadowsIntoLightTwo';
  src: url('../assets/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Limelight';
  src: url('../assets/Limelight/Limelight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-pink-light: #ffd5df;
  --color-pink: #ffb3d9;
  --color-pink-dark: #ff66b3;
  --color-white: #ffffff;
  --color-gray-light: #efefef;
  --color-gray-medium: #ddd;
  --color-gray-dark: #262626;
  --color-black: #333;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-backdrop: rgba(0, 0, 0, 0.5);
  --color-red: #ff5c5c;
  --color-red-dark: #e60000;
  --color-status-new: #9ac1ff;
  --color-status-progress: #ffc87b;
  --color-status-done: #aaffaa;
  --color-status-waiting: #ffa2f4;
  --color-status-cancelled: #b64747;
  --font-body: 'ShadowsIntoLightTwo', cursive;
  --font-heading: 'Limelight', cursive;
}
