:root {
  --color-pink-light: #ffeff3;
  --color-pink: #ffb3d9;
  --color-pink-dark: #ff66b3;
  --color-white: #ffffff;
  --color-gray-light: #efefef;
  --color-gray-medium: #ddd;
  --color-gray-dark: #555;
  --color-black: #333;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-backdrop: rgba(0, 0, 0, 0.5);
  --color-red: #ff5c5c;
  --color-red-dark: #e60000;
}
