@import "../../styles/Variables.css";
.App-header {
  background-color: var(--color-pink-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: var(--color-gray-dark);
  padding: 0 50px;
}

.App-header h1 {
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
}
.header-actions {
  display: flex;
  gap: 10px;
}

